<ion-view title="Agregar Nuevo Producto" id="page4">
    <ion-content padding="true" class="has-header">
        <form id="agregarNuevoProducto-form1" class="list ">
            <label class="item item-input " id="agregarNuevoProducto-input2">
                <span class="input-label">Nombre</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="agregarNuevoProducto-input1">
                <span class="input-label">Tipo</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="agregarNuevoProducto-input3">
                <span class="input-label">Cantidad</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="agregarNuevoProducto-input4">
                <span class="input-label">Precio</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button id="agregarNuevoProducto-button3" class=" button button-positive  button-block ">Enviar Datos</button>
    </ion-content>
</ion-view>