<ion-view title="Page 6" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="login-form1" class="list ">
            <ion-list id="login-list1" class=" ">
                <label class="item item-input " id="login-input1">
                    <span class="input-label">Username: </span>
                    <input type="text" placeholder="" id="UserName">
                </label>
                <label class="item item-input " id="login-input2">
                    <span class="input-label">Password: </span>                    
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>            
        </form>
    </ion-content>
</ion-view>