<ion-view title="Page 2" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="page2-form3" class="list ">
            <ion-radio id="page2-radio3" class=" ">Radio</ion-radio>
            <ion-radio id="page2-radio4" class=" ">Radio</ion-radio>
            <ion-toggle toggle-class="toggle-positive" id="page2-toggle3" class=" ">Toggle</ion-toggle>
            <ion-checkbox>Checkbox</ion-checkbox>
            <ion-checkbox>Checkbox</ion-checkbox>
        </form>
    </ion-content>
</ion-view>