<ion-view title="Pagina 1 - Info Cel" id="page1">
    <ion-content padding="true" class="has-header">
    
    <button id="page-button1" class=" button button-positive  button-block " ng-click="getDeviceInformation()">Ver Info del Cel!</button>
    <ul>
    	<li><b>Device:</b> {{device}}</li>
        <li><b>Cordova:</b> {{cordova}}</li>
        <li><b>Model:</b> {{model}}</li>
        <li><b>Platform:</b> {{platform}}</li>
        <li><b>UUID:</b> {{uuid}}</li>
        <li><b>Version:</b> {{version}}</li>
    </ul>
    
    </ion-content>
</ion-view>