<ion-view title="Pagina 2 Info Network" id="page2">
    <ion-content padding="true" class="has-header">
        <button id="page-button1" class=" button button-positive  button-block " ng-click="PrintInfoNetwork()">Print Info Network!</button>
        <ion-list id="page-list1" class=" ">
            <ion-item id="page-list-item1" class="  ">{{type}}</ion-item>
            <ion-item id="page-list-item2" class="  ">{{isOnline}}</ion-item>
            <ion-item id="page-list-item3" class="  ">{{isOffline}}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>